.margin-top-5px {
    margin-top: 5px;
}

.margin-top-15px {
    margin-top: 15px;
}

.margin-left-5px {
    margin-left: 5px;
}

.col-md-3:nth-child(4n+1){
    clear: left;
}

.margin-bottom-60px {
    margin-bottom: 60px;
}

.clickable {
    cursor: pointer;
}

.list-group-item-header {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
    font-size: 15px;
    font-weight: 400;
}

.center-vertical-height-39-px {
    line-height: 39px;
    vertical-align: middle;
}

.margin-top-15 {
    margin-top: 15%;
}